#navbar{
    height: 60px;
    width: 100%;
    box-shadow: 1.5px 1.5px 1.5px rgb(240, 238, 238);
}

#navbar-itens{
    margin-top: 20px;
    position: absolute;
    margin-left: 30px;
}

@font-face{
  font-family: rubik;
  src: url(../assets/fonts/Rubik-Medium.ttf);
}

@font-face{
  font-family: amble;
  src: url(../assets/fonts/Amble-Regular.ttf);
}

@font-face{
  font-family: pt-sans;
  src: url(../assets/fonts/PTC55F.ttf);
}

@font-face{
  font-family: fira-sans;
  src: url(../assets/fonts/FiraSans-Medium.otf);
}

@font-face{
  font-family: nobile;
  src: url(../assets/fonts/Nobile-Medium.ttf);
}

@font-face{
  font-family: cantarel;
  src: url(../assets/fonts/Cantarell-Oblique.ttf);
}

@font-face{
  font-family: akrobat;
  src: url(../assets/fonts/TTF/Akrobat-Bold.ttf);
}

@font-face{
  font-family: gilam;
  src: url(../assets/fonts/GilamDemo-Black.otf);
}

@font-face{
  font-family: gilam;
  src: url(../assets/fonts/GilamDemo-Black.otf);
}

@font-face{
  font-family: squad;
  src: url(../assets/fonts/Squad-Regular.otf);
}

.navbar-item{
    display: inline;
    position: relative;
    margin-right: 30px;
    color: rgb(159, 156, 156);
    font-family: squad;
    font-size: 16px;
}

#search{
    border: solid 1px rgb(238, 237, 237);
    position: absolute;
    margin-top: 20px;
    margin-left: 300px;
    border-radius: 15px;
    height: 23px;
}

.card{
    height: 250px;
    width: 240px;
    box-shadow: 2px 2px 2px 2px rgb(241, 241, 241);
    display: inline-flex;
    border-radius: 6px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}

.card:hover{
    box-shadow: 3px 3px 3px 3px rgb(224, 224, 224);
}

#card-list{
    width: 1000px;
    float: right;
    position: absolute;
}

.btn-primary{
    height: 20px;
    width: 60px;
    background-color: rgb(74, 74, 233);
    border-radius: 12px;
    position: absolute;
    border: none;
    color: white;
    margin-top: 154px;
    margin-left: 80px;
    font-family: akrobat;
    font-size: 15px;
    margin-top: 190px;
    padding: 10px;
}

.btn-primary:hover{
    background-color: rgb(124, 124, 250);
}

#opcoes{
    float: left;
    position: absloute;
    height: 500px;
    width: 20%;
    border: solid 1px rgb(240, 238, 238);
    border-left: none;
}

.img-game{
    width: 130px;
    height: 130px;
    margin-left: 60px;
    margin-top: 20px;
}

.preco{
    font-family: amble;
    position: absolute;
    margin-top: 180px;
    margin-left: 60px;
}

#container{
    height: auto;
    width: 1000px;
    float: right;
    margin-top: 20px;
    margin-right: 160px;
    padding: 10px;
}
