<header>
  <nav id="navbar" >
      <img src="../assets/icons/instruction (1).png" alt="" id="logo">
      <div id="navbar-itens">
        <div class="navbar-item">Ebooks</div>
        <div class="navbar-item">Livros</div>
        <div class="navbar-item">Filmes</div>
        <div class="navbar-item">Música</div>
      </div>
      <img id="login" src="../assets/icons/contorno-de-botao-de-seta-quadrada-de-login.png">
      <img id="logout" src="../assets/icons/sair (1).png">
  </nav>
</header>
<aside>
  <div id="opcoes">
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Livros</li>
      <li class="opcao-item" >Destaques</li>
      <li class="opcao-item" >Mais Vendidos</li>
      <li class="opcao-item" >Lançamentos</li>
      <li class="opcao-item" >Pré-Venda</li>
    </ul>
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Ebooks</li>
      <li class="opcao-item" >Destaques</li>
      <li class="opcao-item" >Mais Vendidos</li>
      <li class="opcao-item" >Lançamentos</li>
      <li class="opcao-item" >Pré-Venda</li>
    </ul>
    <ul id="opcoes-lista" >
      <li class="opcao-titulo" >Filmes e Séries</li>
      <li class="opcao-item" >Destaques</li>
      <li class="opcao-item" >Mais Vendidos</li>
      <li class="opcao-item" >Lançamentos</li>
      <li class="opcao-item" >Pré-Venda</li>
    </ul>
  </div>
</aside>
<main>
  <article>
    <div id="container">
      <router-outlet></router-outlet>
    </div>
  </article>
</main>


