
body{
  background-color: gray;
}

#navbar{
    height: 60px;
    width: 100%;
    box-shadow: 1.5px 1.5px 1.5px rgb(240, 238, 238);
}

#navbar-itens{
    margin-top: 20px;
    position: absolute;
    margin-left: 30px;
}

@font-face{
  font-family: rubik;
  src: url(../assets/fonts/Rubik-Medium.ttf);
}

@font-face{
  font-family: amble;
  src: url(../assets/fonts/Amble-Regular.ttf);
}

@font-face{
  font-family: pt-sans;
  src: url(../assets/fonts/PTC55F.ttf);
}

@font-face{
  font-family: fira-sans;
  src: url(../assets/fonts/FiraSans-Medium.otf);
}

@font-face{
  font-family: nobile;
  src: url(../assets/fonts/Nobile-Medium.ttf);
}

@font-face{
  font-family: cantarel;
  src: url(../assets/fonts/Cantarell-Oblique.ttf);
}

@font-face{
  font-family: akrobat;
  src: url(../assets/fonts/TTF/Akrobat-Bold.ttf);
}

@font-face{
  font-family: gilam;
  src: url(../assets/fonts/GilamDemo-Black.otf);
}

@font-face{
  font-family: gilam;
  src: url(../assets/fonts/GilamDemo-Black.otf);
}

@font-face{
  font-family: squad;
  src: url(../assets/fonts/Squad-Regular.otf);
}

.navbar-item{
    display: inline;
    position: relative;
    margin-right: 30px;
    color: rgb(159, 156, 156);
    font-family: squad;
    font-size: 16px;
}

#search{
    border: solid 1px rgb(238, 237, 237);
    position: absolute;
    margin-top: 20px;
    margin-left: 300px;
    border-radius: 15px;
    height: 23px;
}

#container{
    height: auto;
    width: 800px;
    float: right;
    margin-top: 20px;
    margin-right: 200px;
    padding: 10px;
}

#opcoes{
  float: left;
  position: absloute;
  height: 500px;
  width: 20%;
  border: solid 1px rgb(240, 238, 238);
  border-left: none;
}
