<header>
  <nav id="navbar" >
      <div id="navbar-itens">
        <div class="navbar-item">Ebooks</div>
        <div class="navbar-item">Livros</div>
        <div class="navbar-item">Filmes</div>
        <div class="navbar-item">Música</div>
      </div>
      <img id="login" src="../assets/icons/contorno-de-botao-de-seta-quadrada-de-login.png">
      <img id="logout" src="../assets/icons/sair (1).png">
  </nav>
</header>
<aside>
  <div id="opcoes"></div>
</aside>
<main>
  <article>
    <div id="container">
      <router-outlet></router-outlet>
    </div>
  </article>
</main>


