<header>
  <nav id="navbar" ></nav>
</header>
<aside>
  <div id="opcoes"></div>
</aside>
<main>
  <article>
    <div id="container">
      <div id="card-list">
        <div class="card">
          <div class="btn-primary">Visualizar</div>
        </div>
        <div class="card">
          <div class="btn-primary">Visualizar</div>
        </div>
        <div class="card">
          <div class="btn-primary">Visualizar</div>
        </div>
        <div class="card">
          <div class="btn-primary">Visualizar</div>
        </div>
      </div>
    </div>
  </article>
</main>

<router-outlet></router-outlet>
