<div id="card-list">
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <div class="btn-primary">Visualizar</div>
  </div>
</div>
