<div id="card-list">
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/dieta.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/livro-filhos-do-eden.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/Livro-ICMS-e-ISS.webp" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/livro-sangue-frio.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/max_livro.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/ordem.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/livro-azul.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
  <div class="card">
    <label class="nome-livro" >Nome Livro</label>
    <label class="preco">R$ 129,00</label>
    <img src="../../assets/img/porquefazemos.jpg" alt="" class="img-livro">
    <div class="btn-primary">Visualizar</div>
  </div>
</div>
